<div class="container-fluid " id="footer-image">
    <img src="https://media.istockphoto.com/id/1311934969/photo/contact-us.jpg?s=612x612&w=0&k=20&c=_vmYyAX0aFi-sHH8eYS-tLLNfs1ZWXnNB8M7_KWwhgg="
        style="width:100%; height:400px">

    <div class="centered1"><b>Contact Us</b><br>
        <br>
        <!-- <p style="font-size: medium;">Home / Contact</p> -->
        <p style="font-size: medium;"><a href="/home">Home</a> / Contact Us</p>

    </div>
</div>


<h1 style="text-align: center"><b>Place your Inquiry</b></h1>
<br>

<div class="container">
    <h1 style="text-align: center"><b>Contact</b></h1><br>
    <div class="row">

        <div class="col-md-2">
            <div class="card" style="text-align: center">
                <h3><b>Head Office Address</b></h3><br>
                <p>ECGiT Pte.Ltd. 101 Cecil <br>Street, #20-11,<br>
                    Tong Eng Building,<br>
                    Singapore 069533.</p>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card" style="text-align: center">
                <h3><b>Our Address</b></h3><br>
                <p>ECGiT PRIVATE LIMITED<br> P2-304,Pentagaon 2, Magarpatta <br>city, Hadapsar, Pune -411028, India</p>
            </div>
        </div>

        <div class="col-md-2" style="text-align: center">
            <div class="card">
                <h3><b>Contact Info.</b></h3><br>
                <p>limesh@ecgit.com<br>
                    +91 9765942368</p>
            </div>
        </div>

        <div class="col-md-2" style="text-align: center">
            <div class="card">
                <h3><b>Follow us</b></h3><br>
                <p><i class='fa fa-twitter' style='font-size:24px'></i>&nbsp;
                    <i class="fa fa-facebook" style="font-size:24px"></i>&nbsp;
                    <i class="fa fa-instagram" style="font-size:24px"></i>&nbsp;
                    <i class="fa fa-google-plus" style="font-size:24px"></i>
                </p>
            </div>
        </div>
    </div>
</div><br><br>

<div class="container-fluid">
    <div class="row">
        <!-- <iframe
        width="100%"
        height="450"
        frameborder="0"
        style="border:0"
        src="<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.31650196997!2d73.920266!3d18.514594199999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c1930e6a364d%3A0xc55ad69b02cc63cb!2sECGiT%20PRIVATE%20LIMITED!5e0!3m2!1sen!2sin!4v1706276069669!5m2!1sen!2sin"></iframe> 
        allowfullscreen
    ></iframe> -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.31650196997!2d73.920266!3d18.514594199999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c1930e6a364d%3A0xc55ad69b02cc63cb!2sECGiT%20PRIVATE%20LIMITED!5e0!3m2!1sen!2sin!4v1706276069669!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div id="blue"><b>Need Appointment to Help? Call us to Know more →     </b>&nbsp; &nbsp; &nbsp; &nbsp;<button style="background-color: blue;" routerLink="/contact">Contact Us</button></div>
    </div>
    </div>
    <div class="container-fluid" id="footer-2">
    
    </div>
    <div class="container-fluid" id="footer">
        <p class="text-center">Copyright © Sakshi Patil</p>
    </div>
    
