<div class="container-fluid " id="footer-image">
    <img src="https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        style="width:100%; height:400px">

    <div class="centered1"><b>Career</b><br>
        <br>
        <!-- <p style="font-size: medium;">Home / Career</p> -->
        <p style="font-size: medium;"><a href="/ECG-iT">Home</a> / Careers</p>

    </div>
</div><br>

<h1 style="text-align: center"><b>Career at ECGiT</b></h1>
<br>
<h3 style="text-align: center">If you love what you do and strive to be on top with really smart and diverse pool of
    talent, then there may be a place for<br> you at ECGiT, send us a resume at limesh@ecgit.com</h3><br>

<div class="faq-content">
    <div class="faq-question">
        <input id="q1" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q1" class="panel-title">Software Tester</label>
        <div class="panel-content">
            <p> - Hands on experience software product development with focus on Test Automation of developed on
                windows/Linux/Unix platforms.</p>
            <p> - 3-5 years of experience leading software testing activities.</p>
            <p> - Experience with Agile development methodologies</p>
            <p> - Strong software design and development experience.</p>
        </div>
    </div>

    <div class="faq-question">
        <input id="q2" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q2" class="panel-title">Front-end Web Developer</label>
        <div class="panel-content">Fresher/Experienced Front-end Developer We are looking for a qualified Front-end
            developer to join our front-end development team. You will be responsible for building website pages and the
            ‘client-side’ of our web applications. You should be able to turn our client’s needs into functional,
            appealing and interactive websites and web applications.
        </div>
    </div>

    <div class="faq-question">
        <input id="q3" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q3" class="panel-title">Sales Executive</label>
        <div class="panel-content">Website Design Company in Pune is looking for a dedicated, motivated and tech-savvy
            sales executive to handle our product and service sales. We receive many inbound inquiries per week from
            Google. With our expanding business, we are looking to bring on an ambitious, motivated & dedicated Sales
            Executives who are confident in selling.</div>
    </div>

    <div class="faq-question">
        <input id="q4" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q4" class="panel-title">Audit assistant (Transfer Pricing department)</label>
        <div class="panel-content">Graduates and Post graduates with 3-5 years of experience in tax and accounting. The
            person should have good English Communication and a keen interest in the areas of Transfer Pricing,
            International taxation and Accounting.</div>
    </div>

    <div class="faq-question">
        <input id="q5" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q5" class="panel-title">Field Engineer (0-3 Years)</label>
        <div class="panel-content">Graduates and Post graduates with 3-5 years of experience in tax and accounting. The
            person should have good English Communication and a keen interest in the areas of Transfer Pricing,
            International taxation and Accounting.</div>
    </div>
</div>

<br><br>
<div class="container-fluid" id="space">


    <div id="blue"><b>Need Appointment to Help? Call us to Know more → </b>&nbsp; &nbsp; &nbsp; &nbsp;<button
            style="background-color: blue;" routerLink="/contact">Contact Us</button></div>
</div>

<div class="container-fluid" id="footer-2">

</div>
<div class="container-fluid" id="footer">
    <p class="text-center">Copyright © Sakshi Patil</p>
</div>